main {
  position: relative;
  min-height: calc(100vh - 250px);
  top: 72px;
  overflow: hidden;
  display: block;
}

main::after {
  content: '';
  background: url('../images/home-background.png') no-repeat center fixed;
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0.8;
}