.main-content{
  margin-top: 60px;
  margin-bottom: 60px;
}

.boxes_recommend {
  margin-top: 30px;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(4, minmax(0px, 1fr));
}

@media (max-width: 768px) {
  .boxes_recommend {
    grid-template-columns: repeat(2, minmax(0px, 1fr));
  }
}

.box_recommend {
  border: 3px solid rgba(249, 249, 249, 0.1);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
    rgb(0 0 0 / 73%) 0px 16px 10px -10px;
}

img {
  display: block;
  width: 100%;
  inset: 0;
  object-fit: cover;
  z-index: 1;
}

.box_recommend:hover {
  transform: scale(1.05);
    border-color: rgba(249, 249, 249, 0.8);
}